{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/ver_perfil.css' %}?v=2">
{% endblock %}

{% block content %}
<div class="profile-container">
  <div class="profile-card">
    <div class="profile-left">
      <div class="profile-avatar" data-initials="{{ user.first_name|first|upper }}"></div>
    </div>
    <div class="profile-right">
      <h2>Mi Perfil</h2>
      <div class="profile-info">
        <p><strong>Usuario:</strong> {{ user.username }}</p>
        <p><strong>Nombre:</strong> {{ user.first_name }}</p>
        <p><strong>Apellido:</strong> {{ user.last_name }}</p>
        <p><strong>Email:</strong> {{ user.email }}</p>
        <p><strong>RFC:</strong> {{ perfil.rfc }}</p>
        <p><strong>WhatsApp:</strong> {{ perfil.whatsapp }}</p>
      </div>
      <a href="{% url 'cuentas:editar_perfil' %}" class="btn-guardar">Actualizar datos</a>
    </div>
  </div>
</div>

<script src="{% static 'js/perfil.js' %}"></script>
<br>
{% endblock %}
