{% extends "base.html" %}
{% load widget_tweaks %}

{% block title %}Recuperar contraseña{% endblock %}

{% block content %}

<div class="form-container">
  <h2>¿Olvidaste tu contraseña?</h2>
  <p>Introduce tu correo electrónico y te enviaremos un enlace para restablecerla.</p><br>

  <form method="post" action="{% url 'account_reset_password' %}">
    {% csrf_token %}
    {{ form.email.label_tag }}
    {{ form.email|add_class:"input-field" }}

    <br><button type="submit" class="btn-principal btn-full">Enviar enlace</button>
  </form>

  <p style="margin-top: 14px; text-align:center;">
    <a href="{% url 'account_login' %}">Volver al inicio de sesión</a>
  </p>
</div>
{% endblock %}
